<% if ( @pmids.nil? || @pmids.empty?) && (@documents.nil? || @documents.empty?) %>
  No document found.
<% else %>
  <%= render :partial => "add_document" %>
  <% unless @pmids.nil? %>
    <div style="margin-top:10px;">
      <%= page_entries_info @pmids, :entry_name => 'result'  %>
    </div>
    <% if @count > 1000 %>
      <div class="alert alert-danger">
        <%= render :partial => "/shared/limit1000" %>
      </div>
    <% end %>
    <% @pmids.each do |p| %>
      <% id = p.pmid %>
      <% d = DocumentCache.find_by_id(id) %>
      <% if d.nil? %>
        <div class="item" id="pmid-<%=id%>" style="margin-left:20px;">PMID: <%=id %> <span></span>
          <i>fetching... <i class="fa fa-refresh fa-spin"></i> </i>
        </div>
        <script>
          $(function() {
            ajax_document_fetch(<%=id%>, <%=@collection.id%>);
          });
        </script>
      <% else %>
        <%=render :partial => "/documents/document", :locals => {:document => d, :pie_score => p.pie_score } %>
      <% end %>
    <% end %>
    <div style="text-align:center">
      <%= paginate @pmids, :theme => 'twitter-bootstrap' %>
    </div>
  <% end %>
  <% unless @documents.nil? %>
    <% @documents.each do |d| %>
      <%=render :partial => "/documents/document", :locals => {:document => d, :pie_score => nil } %>
    <% end %>
  <% end %>
<% end %>

<script>
$(function() {
  $("div.pagination a").on('click', function(event) {
    var hash = this.hash;
    if (this.href == "#") return;
    queryDocumentList(this.href);
    event.stopImmediatePropagation();
    event.preventDefault();
  });
});


</script>

